.ct {
    margin: 4px;
}

.base-button {
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    padding: 0;
    min-width: 88px;
    border: none;
    height: 26px;
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #607D8D;
    border: 1px solid #364750;
    color: #FFFFFF;
    box-shadow: 2px 3px 5px 2px #CDB;

    &:hover {
        background-color: #56707E;
        border-color: #212B31;
        color: #FFFFFF;
        outline: 0;
        box-shadow: 0 2px 4px 0 rgba(33, 43, 49, 0.5);
    }

    &:focus {
        background-color: #56707E;
        border: 1px solid #212B31;
        color: #FFFFFF;
        transition: all 0.2s ease;
    }
}

.button-disabled {
    border-radius: 2px;
    display: inline-block;
    box-shadow: 2px 3px 5px 2px #CDB;
    margin: 5px;
    padding: 0;
    min-width: 88px;
    color: #FFFFFF;
    border: none;
    height: 26px;
    transition: all 0.5s ease;
    color: #AFBEC6;
    background-color: #F7F8F9;
    border: 1px solid #DFE5E8;
    cursor: default;

    &:hover {
        color: #AFBEC6;
        background-color: #F7F8F9;
        border: 1px solid #DFE5E8;
    }

    &:active {
        color: #AFBEC6;
        background-color: #F7F8F9;
        border: 1px solid #DFE5E8;
    }

    & .icon {
        cursor: default;
    }
}