.ct {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: baseline;
}

.ct-input {
    margin-right: 10px;
}

.ct-button {
    margin: 4px;
}
.base-button {
    border-radius: 2px;
    display: inline-block;
    margin: 5px;
    padding: 0;
    min-width: 88px;
    border: none;
    height: 26px;
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: #607D8D;
    border: 1px solid #364750;
    color: #FFFFFF;

    &:hover {
        background-color: #56707E;
        border-color: #212B31;
        color: #FFFFFF;
        outline: 0;
        box-shadow: 0 2px 4px 0 rgba(33, 43, 49, 0.5);
    }

    &:focus {
        background-color: #56707E;
        border: 1px solid #212B31;
        color: #FFFFFF;
        transition: all 0.2s ease;
    }
}