.profile-image {
    width: 240px;
    height: 200px;
    border-radius: 20%;
    padding: 5px;
}

.profile-ct {
    width: 280px;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 3px 5px 2px #CDB;
}

.profile-info-ct {
    display: grid;
}